html, body {
    font-family: ivymode, sans-serif;
    background-color: #F7F1EF;
    overflow-x: hidden;
}

.main-btn {
    height: 70px;
    width: 180px;
    background: linear-gradient(270deg, #F0BA8C 0%, #D19C6E 100%);
    font-size: 12px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    border: 1px solid transparent;
    font-family: 'Epilogue', sans-serif;
    padding-top: 12px;
    transition: all .2s ease-in-out;
}

.main-btn:hover {
    border: 1px solid #F0BA8C;
    background: transparent;
}

.secondary-btn {
    position: relative;
    height: 31px;
    width: 126px;
    text-decoration: none !important;
    padding: 0 6px 13px 6px;
    color: #F7F1EF !important;
    font-size: 16px;
    letter-spacing: -0.44px;
    font-family: 'Epilogue', sans-serif;
    transition: all .2s ease-in-out;
}

.secondary-btn:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #F0BA8C;
    transition: all .2s ease-in-out;
}

.secondary-btn i {
    color: #F0BA8C !important;
    margin-right: 15px;
}

.secondary-btn:hover {
    color: #F0BA8C !important;
}

.secondary-btn:hover:before {
    width: 110%;
}

.bordered-img {
    position: relative;
}

.bordered-img:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid #E2B085;
    z-index: 100;
}

p {
    color: #6D6D7A;
    font-size: 17px;
    letter-spacing: -0.53px;
    line-height: 30px;
    font-family: 'Epilogue', sans-serif;
}

h3 {
    position: relative;
    max-width: 379px;
    color: #272734;
    font-size: 62px;
    line-height: 60px;
    margin: 0 auto 43px 25px;
    text-transform: uppercase;
}

h3:before {
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    width: 1px;
    height: 100%;
    background-color: #E2B085;
}

.outline-text {
    z-index: 100;
    font-size: 272px;
    letter-spacing: 0;
    -webkit-text-stroke: 1px #E2B085;
    color: transparent;
    text-transform: uppercase;
}

.info .outline-text {
    position: absolute;
    margin-top: -250px;
}




.owl-theme img {
    width: 65% !important;
    margin: 0 auto;
}

.owl-theme .owl-dots {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
  
.owl-theme .owl-dots .owl-dot span {
    height: 9.4px !important;
    width: 9.4px !important;
    background: transparent !important;
    transform: rotate(-45deg) !important;
    border-radius: 0 !important;
    border: 1px solid #EBB689;
    box-shadow: none !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #EBB689 !important;
}

.owl-theme .owl-dots .owl-dot:focus {
    box-shadow: none !important;
    outline: none !important;
}

.owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.owl-nav button {
    height: 60px !important;
    width: 60px !important; 
    border: 1px solid rgba(240, 186, 140, 0.24) !important;
    border-radius: 0 !important;
    outline: none !important;
    transform: rotate(-45deg)
}

.owl-nav button:hover {
    background-color: #F0BA8C !important;
}

.owl-nav button div {
    position: relative;
    transform: rotate(45deg);
    padding-top: 2px;
}

.owl-nav button div:before {
    content: '';
    position: absolute;
    top: 50%;
    height: 1px;
    width: 225px;
    background-color: #F0BA8C;
}

.owl-nav button div.left:before {
    left: 23px;
}

.owl-nav button div.right:before {
    right: 23px;
}

.arrow-right,
.arrow-left {
  display: block;
  width: 18px;
  height: 18px;
  border-top: 1px solid #F0BA8C;
  border-left: 1px solid #F0BA8C;
}
.arrow-right {
 transform: rotate(135deg);
 margin: 0 25px 0 auto;
}
.arrow-left {
    margin: 0 auto 0 25px;
    transform: rotate(-45deg);
}

.owl-nav button:hover .arrow-right, .owl-nav button:hover .arrow-left {
    border-top: 1px solid #F7F1EF;
    border-left: 1px solid #F7F1EF;
}

.owl-nav button:hover div:before {
    background-color: #F7F1EF;
}

.mobile-header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.mobile-header .open-time, .mobile-header .book-table-btn {
    width: 50%;
}

.mobile-header span {
    color: #F0BA8C;
    font-size: 9px;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Epilogue', sans-serif;
    text-transform: uppercase;
}

.mobile-header div {
    color: #272734;
    font-size: 19px;
    text-align: center;
}

.mobile-header .open-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-header .book-table-btn {
    background: linear-gradient(270deg, #F0BA8C 0%, #D19C6E 100%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F7F1EF !important;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none !important;
    font-family: 'Epilogue', sans-serif;
    text-transform: uppercase;
}


.navbar {
    padding: 60px;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar ul.mr-auto li, .social-media a {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F0BA8C;
    transition: all .2s ease-in-out;
}

.navbar ul.mr-auto li:nth-child(2), .social-media a:nth-child(2) {
    border-left: none;
    border-right: none;
}

.navbar ul i, .social-media a {
    color: #F7F1EF;
}

.navbar ul.mr-auto li:hover, .social-media a:hover {
    background-color: #F0BA8C;
}

.navbar ul.ml-auto li span {
    color: #F0BA8C;
    font-size: 9px;
    letter-spacing: 2px;
    line-height: 30px;
    text-transform: uppercase;
}

.navbar a.nav-link {
    color: #F7F1EF !important;
}

.navbar a.nav-link div.time {
    font-size: 19px;
    color: #F7F1EF;
    margin-top: -5px
}

.navbar ul.navbar-nav.ml-auto a.nav-link span {
    font-family: 'Epilogue', sans-serif;
    font-size: 9px;
    letter-spacing: 2px;
}

header, .opening-times, footer {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E2B085;
    font-size: 180px;
    line-height: 154px;
    width: 100%;
    text-transform: uppercase;
}

@media (max-width: 1410px) {
    header h1 {
        font-size: 150px;
    }
}

header h1 span {
    -webkit-text-stroke: 2px #E2B085;
    color: transparent;
}

header .scroll-down {
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
}

header .scroll-down a {
    position: relative;
    color: #F7F7F7;
    font-size: 11px;
    letter-spacing: 2.64px;
    line-height: 31px;
    text-transform: uppercase;
    text-decoration: none !important;
    font-family: 'Epilogue', sans-serif;
    transition: all .2s ease-in-out;
}

header .scroll-down a:hover {
    color: #E2B085;
}

header .scroll-down a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 160px;
    background-color: #F0BA8C;
    margin-top: 51px;
}

header #about {
    padding: 115px 0 285px 0;
}

header h2 {
    max-width: 920px;
    color: #F7F1EF;
    font-size: 28px;
    letter-spacing: 3.5px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
}



@media (min-width: 768px) {
    .info:before {
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 72%;
        height: 100%;
        background-color: #F7F1EF;
    }
}

.info .col-md-6:nth-child(1) {
    background-color: #F7F1EF;
    padding: 300px 0;
}

.info p {
    max-width: 435px;
}

.info h3 {
    margin: 0 0 43px 25px;
}

.info .bordered-img {
    width: 100%;
}

.chef {
    padding: 120px 0 100px 0;
}

.chef .content {
    max-width: 353px;
}

.chef h3 {
    color: #F7F1EF;
    max-width: 303px;
}

.chef p {
    color: #939398;
    margin: 0 auto 48px auto;
}


.gallery {
    position: relative;
}

.gallery:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 130px;
    width: 100%;
    background-color: #F7F1EF;
}

.gallery h4 {
    position: relative;
    max-width: 573px;
    color: #F7F1EF;
    font-size: 32px;
    letter-spacing: 10.41px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 20px auto 65px auto;
    font-style: italic;
}

.gallery h4:before {
    content: '';
    position: absolute;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 40px;
    background-color: #EBB689;
}

.gallery p {
    text-transform: uppercase;
    color: #878794;
    font-size: 13px;
    letter-spacing: 3.25px;
    line-height: 30px;
    margin-bottom: 85px;
}

.gallery h3 {
    max-width: 100% !important;
    margin: 0 auto 125px auto;
    color: #F7F1EF;
    text-transform: uppercase;
}

.gallery h3:before {
    display: none;
}

.gallery h3:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 104px;
    height: 160px;
    width: 1px;
    background-color: #EBB689;
    z-index: 100;
}

.menus .outline-text {
    margin-top: 50px;
}

.menus .nav {
    display: flex;
    justify-content: center;
}

.menus .nav li div {
    height: 70px;
    width: 370px;
    border: 1px solid #D19D6E;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000 !important;
    font-size: 14px;
    letter-spacing: 4.67px;
    font-family: 'Epilogue', sans-serif;
    text-transform: uppercase;
    padding-top: 12px;
    cursor: pointer;
}

.menus .nav li:nth-child(2) div {
    border-left: none !important;
    border-right: none !important;
}

.menus .nav li div:hover {
    background: linear-gradient(270deg, #D19C6E 0%, #F0BA8C 100%);
}

.menus .nav li div:hover {
    color: #F7F1EF !important;
}

.menus .nav li div.active {
    background: linear-gradient(270deg, #F0BA8C 0%, #D19C6E 100%);
    color: #F7F1EF !important;
}

.menus h3 {
    margin: 100px auto;
}

.menus h3:before {
    display: none;
}

.menus h3:after {
    content: '';
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 80px;
    background-color: #EBB689;
}

.menus .menu-item h5 {
    color: #272734;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 auto !important;
}

.menus .menu-item span {
    color: #272734;
    font-size: 16px;
    margin: 0 auto !important;
    line-height: 60px;
}

.menus .menu-item p {
    color: #6D6D7A;
    font-size: 16px;
    letter-spacing: -0.5px;
    margin: 0 auto !important;
}

.menus .menu-item div {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background-color: #fff;
    color: #414149;
    font-size: 11px;
    letter-spacing: -0.47px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}


.opening-times {
    margin: 260px 0 190px 0;
    color: #fff;
}

.opening-times .times-row {
    margin-bottom: 180px;
}

.opening-times .bordered-img {
    margin-top: -70px;
}

.opening-times h3 {
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 0 25px;
}

.opening-times .times {
    max-width: 340px;
    margin: 50px 0;
}

.opening-times .times .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opening-times .times .item .day {
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: -0.5px;
    line-height: 30px;
    font-family: 'Epilogue', sans-serif;
}

.opening-times .times .item .time {
    color: #939398;
    font-size: 15px;
    letter-spacing: -0.5px;
    line-height: 30px;
    font-family: 'Epilogue', sans-serif;
}

.opening-times .contact-info p {
    max-width: 130px;
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: -0.5px;
    line-height: 30px;
    margin: 0;
}

.opening-times .contact-info p a {
    color: #FFFFFF !important;
}

.opening-times .contact-info p .email {
    color: #E2B085 !important;
}

.opening-times .times-first-column {
    padding-top: 180px;
}

.opening-times .find-us {
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    width: 100%;
    height: 750px;
    margin-bottom: -50px;
    z-index: 1000;
}

.book-form {
    padding-bottom: 200px;
}

.book-form h3 {
    max-width: 100% !important;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 256px;
}

.book-form h3:after {
    content: '';
    position: absolute;
    top: 100px;
    left: 50%;
    height: 160px;
    width: 1px;
    background-color: #EBB689;
}

.book-form h3:before {
    display: none;
}

.book-form form {
    max-width: 803px;
    margin: 0 auto;
}

.book-form form .form-container input {
    position: relative;
    width: 100%;
    border: none !important;
    background-color: transparent;
    padding: 14px 26px;
    color: #1E1E28;
    font-size: 12px;
    letter-spacing: 3.33px;
    font-family: 'Epilogue', sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px !important;
    background-image: linear-gradient(to right, rgba(151, 151, 151, 0.37) 2px, transparent 2px);
    background-repeat: repeat-x;
    background-size: 100% 30%;
    background-position: -1px bottom;
    border-bottom: 1px solid rgba(151, 151, 151, 0.37) !important;
}

.book-form form .form-container input::-webkit-input-placeholder {
    color: #1E1E28;
    font-size: 12px;
    letter-spacing: 3.33px;
    font-family: 'Epilogue', sans-serif;
    text-transform: uppercase;
}

.book-form form .form-container input:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    background-image: linear-gradient(to right, #EBB689 2px, transparent 2px);
    border-bottom: 1px solid #EBB689 !important;
}


.book-btn {
    border: 1px solid transparent !important;
    height: 70px;
    width: 241px;
    box-shadow: 0 19px 34px 0 rgba(78,45,70,0.14);
    background: linear-gradient(270deg, #F0BA8C 0%, #D19C6E 100%);
    color: #F7F1EF;
    font-size: 12px;
    letter-spacing: 4px;
    text-align: center;
    font-family: 'Epilogue', sans-serif;
    text-transform: uppercase;
    padding-top: 5px;
    border: none !important;
}

.book-btn:hover {
    border: 1px solid  linear-gradient(270deg, #F0BA8C 0%, #D19C6E 100%) !important;
    background: transparent !important;
    color: #F0BA8C !important;
}

.book-form label {
    text-transform: uppercase;
    font-family: 'Epilogue', sans-serif;
    color: #1C1C26;
    font-size: 12px;
    letter-spacing: 3.33px;
    padding-top: 5px;
}

.book-form #alert {
    text-align: center;
    max-width: 803px;
    margin: 50px auto;
    backgrounD: linear-gradient(270deg, #F0BA8C 0%, #D19C6E 100%);
    padding: 15px;
    display: none;
}


form input[type="checkbox"] {
padding: 0;
height: initial;
width: initial;
margin-bottom: 0;
display: none;
cursor: pointer;
}

form label {
position: relative;
cursor: pointer;
}

form label:before {
content:'';
-webkit-appearance: none;
background-color: transparent;
border: 1px solid rgba(151, 151, 151, 0.56);
height: 21px;
width: 21px;
display: inline-block;
position: relative;
vertical-align: middle;
cursor: pointer;
margin-right: 20px;
}

form input:checked + label:after {
content: '';
display: block;
position: absolute;
top: 8px;
left: 8px;
width: 6px;
height: 13px;
border: solid #EBB689;
border-width: 0 2px 2px 0;
transform: rotate(45deg);
}


footer {
    position: relative;
    padding-top: 127px;
}

footer:before {
    content: '';
    position: absolute;
    top: -80px;
    left: 50%;
    height: 160px;
    width: 1px;
    background-color: #EBB689;
}

footer p {
    max-width: 250px;
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: 0 !important;
    line-height: 30px;
    margin: 30px auto;
}

footer .social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 86px;
}

.footer-copyright {
    position: relative;
    padding: 45px 0;
}

.footer-copyright:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.footer-copyright div {
    opacity: 0.7;
    color: #FFFFFF;
    font-family: 'Epilogue', sans-serif;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 41px;
}

.mobile-h1 {
    display: none;
}

@media (max-width: 1200px) {
    .outline-text {
        font-size: 172px;
    }
    .info .outline-text {
        margin-top: -170px;
    }
    .menus .nav li div {
        width: 220px;
    }
    .owl-nav {
        width: 90%;
    }
    .gallery:after {
        height: 100px;
    }
}

@media (max-width: 992px) {
    .outline-text {
        font-size: 122px;
    }
    .info .outline-text {
        margin-top: -115px;
    }
    .menus .nav li {
        margin: 19px 0;
    }
    .menus .nav li:nth-child(2) div {
       border: 1px solid #D19D6E !important;
    }
}

@media (max-width: 768px) {
    header .scroll-down a:before {
        margin-top: 41px;
        height: 120px;
    }
    .info {
        background-color: #F7F1EF;
    }
    .info .bordered-img {
        margin-bottom: 34px;
        margin-top: -80px;
        width: 106%;
        margin-right: -20px;
    }
    .info .col-md-6:nth-child(1) {
        padding: 0 0 156px 0;
    }
    header #about {
        padding: 87px 0 245px 0;
    }
    .outline-text {
        font-size: 75px;
        -webkit-text-stroke: 1px #E2B085; 
    }
    header h1 span {
        -webkit-text-stroke: 1px #E2B085; 
    }
    .info .outline-text {
        margin-top: -210px;
    }
    header .desktop-h1 {
        display: none;
    }
    header .mobile-h1 {
        display: block;
        color: #E2B085;
        font-size: 180px;
        line-height: 154px;
        width: 100%;
        text-transform: uppercase;
        font-size: 75px;
        line-height: 79px;
        top: -30px;
    }
    header .header-img {
        width: 90%;
    }
    header .scroll-down {
        bottom: 80px;
    }
    header h2 {
        font-size: 18px;
        line-height: 30px;
        padding: 0 10px;
    }
    .navbar {
        padding: 70px 0 170px 0;
    }
    .menus .nav {
        display: block;
    }
    .menus .nav li div {
        width: 100%;
        margin: 0 auto;
    }
    .chef {
        padding: 0 0 100px 0;
    }
    .chef .bordered-img {
        margin-top: -100px;
        width: 106%;
        margin-right: -20px;
    }
    .opening-times .bordered-img {
        width: 106%;
        margin-right: -20px;
    }
    h3 {
        font-size: 52px;
        line-height: 57px;
    }
    .gallery h4 {
        font-size: 22px;
        letter-spacing: 7.16px;
        line-height: 32px;
        max-width: 100%;
        padding: 0 20px;
        margin: 20px auto 60px auto;
    }
    .gallery {
        margin-bottom: 75px;
    }
    .gallery h3 {
        margin: 0 auto 105px auto;
    }
    .gallery h3:after {
        height: 120px;
    }
    .owl-theme img {
        width: 100% !important;
    }
    .gallery:after {
        height: 80px;
    }
    .owl-nav {
        display: none !important;
    }
    .owl-theme .owl-dots {
        bottom: -50px !important;
    }
    .opening-times .times-first-column {
        padding-top: 36px;
    }
    #map {
        height: 360px;
        width: 100%;
    }
    .opening-times {
        padding-bottom: 140px;
        margin: 100px 0 0 0;
    }
    .book-form h3:after {
        display: none;
    }
    .book-form h3 {
        margin-bottom: 68px;
    }
    .book-form .custom-checkbox {
        margin-top: 45px;
    }
    .book-btn {
        width: 100%;
        margin-top: 54px
    }
    .book-form {
        padding-bottom: 137px;
    }
    .menus h3 {
        margin: 37px auto 58px auto;
    }
    .menus .menu-item {
        margin-bottom: 30px;
    }
    .book-form label {
        font-size: 11px;
        letter-spacing: 3.05px;
    }
    footer .social-media {
        margin-bottom: 138px;
    }
    .book-form {
        padding-top: 100px;
        position: relative;
    }
    .book-form:before {
        content: '';
        position: absolute;
        top: -60px;
        left: 50%;
        width: 1px;
        height: 120px;
        background-color: #EBB689;
    }
}
  

.reveal {
    overflow:hidden;
    position:relative;
}

.reveal:after {
    content:" ";
    position:absolute;
    display:block;
    top:0;
    right:0;
    width:100%;
    height:100%;
    background: #272734;
    z-index:2;
    transition: all .8s ease;
}

.reveal.show:after {
    top:100%;
}

input[type=date]::-webkit-calendar-picker-indicator, input[type=time]::-webkit-calendar-picker-indicator {
   display: none;
}

#book-form img {
    position: absolute;
    top: 15px;
    right: 36px;
    width: 15px;
    height: 15px;
}